<ion-view title="My Account" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="myAccount-form4" class="list">
      <label class="item item-input" id="myAccount-input10">
        <span class="input-label">Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="myAccount-input11">
        <span class="input-label">Email</span>
        <input type="email" placeholder="">
      </label>
      <label class="item item-input" id="myAccount-input12">
        <span class="input-label">Password</span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>