.ion-android-star{
  font-size: 10vw;
}

.ion-ios-clock{
  font-size: 10vw;
}

.ion-android-globe{
  font-size: 10vw;
}

ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 0px 2px;
}
ul.rating li i {
  font-size: 6vw;
  color: yellow;
}

.vertical-align{
-webkit-box-flex: 1;
-webkit-flex: 1;
-moz-box-flex: 1;
-moz-flex: 1;
-ms-flex: 1;
flex: 1;
display: block;
padding: 5px;
width: 100%;
}

.moviedetails .movie{
  background: rgba(40, 40, 40, .8);
  margin: -10px;

}

.title{
  padding-left: 10px;
  padding-top: 10px;
}

.details .entry{
  display: flex;
  padding: 6px 10px;
  background: rgba(40, 40, 40, .3);
}

.details hr{
  margin: 0;
  border-color: rgba(255, 255, 255, .3);
}

.overview .entry{
  display: flex;
  padding: 6px 10px;
  background: rgba(40, 40, 40, .3);
}

.overview hr{
  margin: 0;
  border-color: rgba(255, 255, 255, .3);
}

.cast .entry{
  display: flex;
  padding: 6px 10px;
  background: rgba(40, 40, 40, .3);
}

.cast hr{
  margin: 0;
  border-color: rgba(255, 255, 255, .3);
}

.details .detailName{
width: 35%;
height: 100%;
}

.details .detailName span{
float: right;
padding-right: 10px;
padding-top: 0px;

}

.details .information{
width: 65%;
}

.details .information span{
float: right;
padding-right: 10px;
}

.pane{
  background-color: #444;
}

/*custom is class added to ion-content*/

.custom {
  background-color: #3f4041 !important; /* This sets the background color*/
 }

/*Set the background to transparent for ion-item*/
.custom .item {
  background-color: transparent;
  border:none;   /*Removes all borders*/
  border-top: 1px solid;   /*Top Border for each menu item*/
  border-bottom:2px solid;   /*Bottom border for each menu item*/
  border-color: #666;   /*Sets colors for top and bottom border*/
  color: white;    /*Text color for each item*/
}

/*Changes the border for the last item*/
.custom .item:last-child {
  border-bottom: 1px solid #666;
}

.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}

/*Just makes the type white*/
.custom h2,
.custom h3,
.custom p,
.custom a {
  color: white;  /*Text color for each item, overrides the color property above*/
}

body {
    color: white;
}
